* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url(./VBKCOELOGO.png) no-repeat center;
  /* background:  #17191A url(./VBKCOELOGO.png) no-repeat center; */
  background-size: 70vw;
  height: 100vh;
  width: 100%;
}
header {
  margin-bottom: 0.5vw;
  font-family: "Tektur", cursive;
  font-size: 3vw;
  font-weight: 900;
}

tbody tr th,
tbody tr td,
thead tr th,
thead tr td {
  padding: 1vw;
  text-align: center;
  border: 0.1vw dashed rgba(3, 102, 251, 0.6);
}
.recess {
  font-family: "Tektur", cursive;
  transform: rotate(45deg);
}
table {
  border-collapse: collapse;
  height: 85vw;
  width: 95vw;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 1vw;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
/* slash {
  font-size: 1.7vw;
} */
span {
  font-size: 0.8vw;
  font-family: "Ubuntu", sans-serif;
}
tbody tr th,
thead tr th {
  font-family: "Tektur", cursive;
  background-color: #aab7b836;
  /* background-color: #1D2021; */

  font-weight: 900;
  font-size: 1.5vw;
}
thead tr td {
  background-color: #aab7b836;
  /* background-color: #1D2021; */
}
tbody tr td,
thead tr td {
  font-size: 1.2vw;
  font-weight: 600;
}
footer {
  display: none;
  margin-top: 20vw;
  font-size: 1.5vw;
}
/* @media screen and (max-width: 768px) {
  .container {
    justify-content: center;
    background-size: 30vh;
    overflow-x: hidden;
    width: 100%;
  }

  table {
    padding: 0.2%;
    width: 98%;
  }
} */
@media screen and (max-width: 600px) {
  .container {
    justify-content: center;
    background-size: 45vw;
    overflow: hidden;
    width: 100%;
  }

  table {
    padding: 0.2%;
    width: 98%;
    height: 50%;
  }
  tbody tr td,
  thead tr td {
    font-size: 1.8vw;
    font-weight: 700;
  }
  tbody tr th,
  thead tr th {
    font-weight: 900;
    font-size: 2.2vw;
    padding: 2vw;
  }
  span {
    font-size: 1.7vw;
    font-family: "Ubuntu", sans-serif;
  }
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vw;
    font-size: 5vw;
    font-weight: 900;
  }
  footer {
    display: block;
  }
}
