* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url(./VBKCOELOGO.png) no-repeat center;
  background-size: 70vh;
  height: 100vh;
  width: 100%;
}
header {
  margin-bottom: 0.5vw;
  font-size: 3vw;
  font-weight: 900;
}

tbody tr th,
tbody tr td,
thead tr th,
thead tr td {
  padding: 1vw;
  text-align: center;
  border: 0.1vh dashed rgba(3, 102, 251, 0.6);
}
.recess {
  transform: rotate(45deg);
}
table {
  border-collapse: collapse;
  height: 85vh;
  width: 95vw;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
tbody tr th,
thead tr th {
  font-weight: 900;
  font-size: 1.5vw;
}
tbody tr td,
thead tr td {
  font-size: 1.2vw;
  font-weight: 600;
}
/* @media (max-width: 600px) {
  .container {
    height: 100vh;
    width: 90vw;
  }
  table {
    margin-left: 20rem;
    color: red;
    height: 90vh;
    width: 100vw;
  }
} */
